@import 'react-select';
@import 'wallop';



//logo css
/**{
  clear: both;
}
*/

//
.theme__appBar___b1hGI{
  height: 5rem;
}
.theme__toggle___2whJV{
  width: 2.2em
}
.theme__icon___3sEvc{
  font-size: 1.3em;
}

span.material-icons.theme__icon___3sEvc{
  font-size: 1.3em;
}

.slick-slide img {
    display: block;
    max-height: 400px;
    float: right;
    position: absolute;
}

.Select span {
    font-size: medium;
}
//
.Wallop{
      max-width: 260px !important;
}

.apmenu_buttongroup{
display: flex !important;
}
.wrapperTop{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4rem;
  justify-content: space-between;
}

.welcome_logout_wrapper{
  display: flex;
  align-items: center;
}

.logo_content{
  display: flex;
}

.img_logo{
  width: 7em;
  margin: 0.3em;
}


//online statistics bar
.onlineStatistics_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical_hr{
  border-left: 1px dashed #fff;
  display: flex;
  height: 3.4rem;
  margin-left: 1em;
}


.widgets_link{
  margin: 0.5em;
}


html, body ,#app,#map, #municipalidad{
        height: 100%;
        margin: 0;
        padding: 0;
        font-size: 12px;
}

.rowNav{
      height: 7%;
}

.rowContent{
      height: 100%;
}

.container{
    height: 100%;
}

.map_container{
  height: 99.6%;
}



.widgetMenu_container, {
//  display: flex;
  display: flex;
  height: 6.4rem;
  justify-content: center;
  align-items: center;
}

.drawer_buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawer_banner{
  display: flex;
  width: 100%;
  height: 6.1rem;
  background-color: #007bf7;
  flex-direction: row;
  justify-content: space-between;

}

.drawer_banner_custom{

justify-content: space-between;
}
.drawer_c{
  display: flex;
}

.drawer_cerrarButton{
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawer_banner_title{
  display: flex;
  align-items: center;
  margin-left: 0.5em;
  color: white;
  text-align: center;
  font-size: initial;
}

.drawer_radiogroup{
  display: flex;
    flex-direction: column;
    margin: 1em;
}

.drawer_content{
  margin: 1em;
  display: flex;
  flex-direction: column;
  font-size: large;
  justify-content: space-between;
    height: 100%;
}


.drawer_input input{
  color: black;
  border-bottom: 1px solid #007bf7;
  font-size: medium;
}

.drawer_input label{
  color: #007bf7;
}

.drawer_listSubHeader{
  padding-left: 1.6rem;
  margin: -.8rem 0 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 4.8rem;
  color: #757575;
}

.drawer_busquedaTitle{
  font-size:12px;
}

.empresas_icons{
  display: flex;
  width: 2em;
  justify-content: center;
  align-content: center;
}

.simbologia_container{
  width: auto;
    height: auto;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: screen;
    bottom: 0;
    z-index: 3;
    padding: 1em;
    position: absolute;
}

.drawer_buttonsContent{
  display: flex;
    flex-direction: column;
}
.drawer_button{
  margin-bottom: 1em;
}

.estadisticas_title_h3{
  display: flex;
  justify-content: center;
  background-color: #19426b;
  color: white;
  margin-bottom: 0.5em;
  font-size: initial;
}

.wrapper_estadisticas_opciones{
  display: flex;
  justify-content: space-between;
}
//LOGIN css
.login_wrapper_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.login_logo{
  width: 20%;
}
.login_button{
  width: 20%;
  margin-left: 2em;
}

.login_input{
  width: 20%;
}

.login_div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 18px 2px rgba(117, 117, 117, 0.3);
  margin: 0%;
  padding: 2em;
  background: rgba(0, 0, 0, 0.85);
}

.theme__icon___2JeD2, .theme__label___3Nc3v{
  color: rgb(255, 255, 255);

}

 .theme__inputElement___2akQt{
  border-bottom: 1px solid rgb(255, 255, 255);
  color: #ffffff;
 }


//drawer
.drawer_medidores{
  width: 40% !important;
}

.drawer_luminarias{
  width: 40% !important;
}

.drawer_griddle_medidores{
  font-size: 11px;
}

.griddle td.selected {
background-color:#d0f3eb;
color:#333;
}

.selected td{
  background-color:#91b6dc !important;

}
.griddle-body table{
  table-layout: auto !important;
}

.drawer_elements{
  //display: flex;
    flex-direction: column;
  //  margin: 1em;
}
.drawer_elements_group{
  display: flex;
  flex-direction: row;
  //justify-content: space-between;
  margin: 0.5em;
  align-items: center;
}
.drawer_column_values{
width: 50%;
font-size: 20px;
}
.drawer_column_titles{
width: 50%;
font-size: 20px;
}

.editar_button{
  width: 30%;
  height: 100%;
  font-size: small;
}

.editar_verFotoBtn{
  width: 100%;
}

input:not([type=checkbox]):not([type=radio]) {
  width: 100%;
}

.drawer_medidoresButtons{
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.drawer_editarButtons{
  display: flex;
    flex-direction: row;
    margin: 1em;
    justify-content: space-between;
}

.drawer_exportarButtonContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slick-slider {
  display: block !important;
  height: 100%;
}

.slick-slide{
   min-height: 300px;
}

.drawer_h8_modificaciones{
  color: red;
}



.carousel .slide img {
  max-height: 25em;
}

.sliderContainer {
  margin: 0 auto;
  padding: 40px;
  width: 100%;
  color: #333;
  background:#e6f2fd;
}

.slick-next:before, .slick-prev:before{
  color: #007bf7;
}
.drawer_viewerButton_container{
  display: flex;
  justify-content: center;
}

.drawer_progressBar{
  display: flex;
  visibility: hidden;
}

.drawer_progressBar2{
  display: flex;
  visibility: hidden;
}

.wallop_itemsCustom{

}

.Wallop { max-width: 480px; }

.Wallop-list { margin: 15px 0; }

.Wallop-item img { width: 100%; }

/* Demo styles for pagination */
.Wallop-pagination {
  text-align: center;
}

.Wallop-dot {
  text-indent: -9999px;
  border: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 5px;
  background-color: #ccc;
  -webkit-appearance: none;
}

.Wallop-dot--current {
  background-color: #000;
}

//galleria - dashboard

.wrapper_gallery{
  display: flex;
    width: 100%;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    background: #1976d2;
    position: fixed;
    height: 93%;
}

.wrapperbuttons_ap{
  display: flex;
  width: 100%;
  margin-top: 5em;
  justify-content: center;
}

.btnEntrarMuni{
  background: #0065ca !important;
}

//banner titulo muni

.wrapperTop_midTitle{
  display: flex;
align-items: center;
flex-direction: column;
}
.wrapperTop_midTitle h6{
  font-size: inherit;
    font-weight: normal;
}

.muniTitulo{
  font-size: 2em;
}

.wrapper_main{
  display: flex;
    flex-direction: row;
    height: 100%;
}

#map{
  width: 100%;
}

.drawer_left{
  display: none;

}

.page_content{
  display: flex;
  /* width: 100%; */
  height: 100%;
}

.drawer_wrapper {
    margin: 0em;
    display: flex;
    flex-direction: column;
}

.map_container {
  height: 99.6%;
width: 100%;
display: flex;
flex-direction: row;
}

.pusherDrawer {
    width: 0%;
    display: none;
    visibility: hidden;
    flex-direction: column;
    transition: width 1s;
}

.pusherDrawer_pushed{
  visibility: visible;
    transition: width 1s;
    width: 40%;
}

.conttentt {
  width: 100%;
}

.btnCerrarDrawer{
  color: white !important;

}


/*//////////////////////////////////////////////////////////////////////////////*/
//23/01/2017
.contenido{
  display: flex;
height: 100%;
}

.contenido_drawerleft1, .contenido_drawerleft2, .contenido_drawerleft3, .contenido_drawerleft4, .contenido_drawerleft5, .contenido_drawerleftEspecial{
  display: flex;
  flex-direction: column;
  visibility: hidden;
  width: 0;
}

.contenido_mapa{
  display: flex;
  flex-direction: column;
  width: 100%;

}

.drawerVisibility_show{
  display: flex;
  visibility: visible;
  flex-direction: column;
  height: 100%;

}

.drawerVisibility_notShow{
  display: none;
  visibility: hidden;
  width: 0%;
}

.wrapperTop_midTitle-h6 {
  font-size: 9px;
}

.muniTitulo-40percent{
  font-size: 15px;
}

//20 02 2017
.drawer_banner_divTitle{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.drawer_title_divh7{
  display: flex;
  justify-content: center;
  margin: 2em 1em 1em 1em;
}

.drawer_title_divh7 h7 {
  font-size: 14px;
  text-align: center;
}

.drawer_exportarButtonContainer h7 {
  font-size: 14px;
  text-align: center;
}

.banner_fix{
    height: 6.0rem;
}

.banner_fix1{
    height: 5.0rem;
}

.wrapperTop_midTitle{
//justify-content: flex-end;
align-self: center;
}

.drawer_busquedas{
  justify-content: flex-start;
}

.banner_fix_edit{
  height: 5.6rem;
}
//LOGIN MEDIAS
@media screen and (max-width: 600px) and (orientation: portrait){
  .login_input {
    width: 50%;
  }
  .login_div {
    flex-direction: column;
  }

  .login_logo {
    width: 45%;
  }
  .login_button {
    width: 65%;

  }

  .theme__inputElement___2akQt{
    font-size: 12px;
  }
}

@media screen and (max-width: 640px) and (orientation: landscape){
  .login_input {
      width: 40%;
  }
  .login_div {
    flex-direction: column;
    padding-top: 0.3em;
  }

  .login_logo {
    width: 20%;
  }
  .login_button {
    width: 45%;
  }
}

@media screen and (max-width: 736px) and (min-width: 641px) and (orientation: landscape){
  .theme__inputElement___2akQt{
    font-size: 12px;
  }

  .welcome_logout_wrapper {
    padding-left: 1em;
  }

}


/*DASHBOARD MEDIAS*/

@media screen and (max-width: 320px)  and (orientation: portrait){


  .theme__appBar___b1hGI{
    padding-left: 0;
    padding-right: 0.5em;
    height: 3.6rem;
  }
  .img_logo {
    width: 4em;
    margin: 1em;
    height: 1.8em;
  }

  h6 {
    font-size: 10px;
  }

  .Wallop-list {
    margin-bottom: 0;
  }

  .Wallop{
    margin: 0;
      padding: 0;
      max-width: 177px !important;
      top: -1em;
      max-height: 480px;
  }

  .wrapperbuttons_ap{
    margin-top: 1em;
  }
}
@media screen and (min-width: 321px) and (max-width: 360px)  and (orientation: portrait){
  .theme__appBar___b1hGI{
    padding-left: 0;
    padding-right: 0.5em;
  }
  h6 {
    font-size: 10px;
  }

  .Wallop-list {
    margin-bottom: 0;
  }

  .Wallop{
    margin: 0;
      padding: 0;
      max-width: 177px !important;
      top: -1em;
      max-height: 480px;
  }

  .wrapperbuttons_ap{
    margin-top: 1em;
  }
}

//nexus 4, iphone 6
@media screen and (max-width: 384px) and (min-width: 361px) and (orientation: portrait){
  .theme__appBar___b1hGI{
    padding-left: 0;
    padding-right: 0.5em;
  }

  h6 {
    font-size: 10px;
  }
  .Wallop-list {
    margin-bottom: 0;
  }


  .Wallop{
    margin: 0;
      padding: 0;
      max-width: 240px !important;
      top: -3em;
      max-height: 480px;
  }
  .wrapperbuttons_ap{
    margin-top: 1em;
  }
}

@media screen and (max-width: 412px) and (min-width: 385px) and (orientation: portrait){
  .theme__appBar___b1hGI{
    padding-left: 0;
    padding-right: 0.5em;
  }

  h6 {
    font-size: 10px;
  }
  .Wallop-list {
    margin-bottom: 0;
  }

  .Wallop{
    margin: 0;
      padding: 0;
      max-width: 240px !important;
      top: -3em;
      max-height: 480px;
  }
  .wrapperbuttons_ap{
    margin-top: 1em;
  }
}

@media screen and (max-width: 600px) and (min-width: 413px) and (orientation: portrait){
  .theme__appBar___b1hGI{
    padding-left: 0;
    padding-right: 0.5em;
  }
  h6 {
    font-size: 10px;
  }
  .Wallop-list {
    margin-bottom: 0;
  }

  .Wallop{
    margin: 0;
      padding: 0;
      max-width: 240px !important;
      top: -3em;
      max-height: 480px;
  }
  .wrapperbuttons_ap{
    margin-top: 1em;
  }
}

@media screen and (max-width: 768px) and (min-width: 601px) and (orientation: portrait){}

@media screen and (max-width: 800px) and (min-width: 769px) and (orientation: portrait){}

//landscape
@media screen and (max-width: 320px)  and (orientation: landscape){


  .theme__appBar___b1hGI{
    padding-left: 0;
    padding-right: 0.5em;
    height: 3.6rem;
  }
  .img_logo {
    width: 4em;
    margin: 1em;
    height: 1.8em;
  }

  h6 {
    font-size: 10px;
  }

  .Wallop-list {
    margin-bottom: 0;
  }

  .Wallop{
    margin: 0;
      padding: 0;
      max-width: 177px !important;
      top: -1em;
      max-height: 480px;
  }

  .wrapperbuttons_ap{
    margin-top: 1em;
  }
}
@media screen and (max-width: 600px) and (orientation: landscape){
  .wrapper_gallery {
    display: flex;
    width: 100%;
    align-content: space-between;
    background: #1976d2;
    position: fixed;
    height: 100%;
    flex-direction: row;
  }

  .Wallop{
    max-width: 100% !important;
    display: flex;
    flex-direction: column;
    top: -3em;
  }

  .Wallop-list{
    max-width: 84px;
    display: flex;
    margin: 1em;
    align-self: center;
  }

  .wrapperbuttons_ap {
    display: flex;
    width: 100%;
    justify-content: center;
        margin-top: 2em;
  }

}

@media screen and (max-width: 640px) and (min-width:601px) and (orientation: landscape){
  .wrapper_gallery {
    display: flex;
    width: 100%;
    align-content: space-between;
    background: #1976d2;
    position: fixed;
    height: 100%;
    flex-direction: row;
  }

  .Wallop{
    max-width: 100% !important;
    display: flex;
    flex-direction: column;
    top: -3em;
  }

  .Wallop-list{
    max-width: 84px;
    display: flex;
    margin: 1em;
    align-self: center;
  }

  .wrapperbuttons_ap {
    display: flex;
    width: 100%;
    justify-content: center;
        margin-top: 2em;
  }
}

@media screen and (max-width: 734px) and (min-width:641px) and (orientation: landscape){
  .wrapper_gallery {
    display: flex;
    width: 100%;
    align-content: space-between;
    background: #1976d2;
    position: fixed;
    height: 100%;
    flex-direction: row;
  }

  .Wallop{
    max-width: 100% !important;
    display: flex;
    flex-direction: column;
    top: -3em;
  }

  .Wallop-list{
    max-width: 84px;
    display: flex;
    margin: 1em;
    align-self: center;
  }

  .wrapperbuttons_ap {
    display: flex;
    width: 100%;
    justify-content: center;
        margin-top: 2em;
  }
}

@media screen and (max-width: 800px) and (min-width:735px) and (orientation: landscape){
  .wrapper_gallery {
    display: flex;
    width: 100%;
    align-content: space-between;
    background: #1976d2;
    position: fixed;
    height: 100%;
    flex-direction: row;
  }

  .Wallop{
    max-width: 100% !important;
    display: flex;
    flex-direction: column;
    top: -3em;
  }

  .Wallop-list{
    max-width: 84px;
    display: flex;
    margin: 1em;
    align-self: center;
  }

  .wrapperbuttons_ap {
    display: flex;
    width: 100%;
    justify-content: center;
        margin-top: 2em;
  }
}
@media screen and (max-width: 1024px) and (min-width:801px) and (orientation: landscape){
  .wrapper_gallery {
    display: flex;
    width: 100%;
    align-content: space-between;
    background: #1976d2;
    position: fixed;
    /* height: 100%; */
    flex-direction: row;
  }

  .Wallop {
      max-width: 260px !important;
      display: flex;
      flex-direction: column;
      top: -3em;
  }

  .Wallop-list {
      max-width: 177px;
      display: flex;
      margin: 1em;
      align-self: center;
  }

  .wrapperbuttons_ap {
    display: flex;
    width: 100%;
    justify-content: center;
        margin-top: 2em;
  }
}


/*map medias*/

@media screen and (max-width: 320px)  and (orientation: portrait){
  .welcome_logout_wrapper {
      display: flex;
      align-items: center;
      position: absolute;
      z-index: 1;
      flex-direction: column;
      /* height: 100%; */
      align-items: flex-end;
      top: 3.6rem;
      width: 100%;
      /* float: right; */
      right: 0px;
      background-color: #1976d2;
  }
  .welcome_logout_wrapper img {
    display: none;
  }
  .drawer_buttons {
  /* display: flex; */
  /* align-items: center; */
  /* position: absolute; */
  /* background-color: #1976d2; */
  /* width: 100%; */
  }

  .wrapperTop_midTitle {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: smaller;
    padding-top: 0.5em;
  }
}
@media screen and (min-width: 321px) and (max-width: 360px)  and (orientation: portrait){
  .welcome_logout_wrapper {
      display: flex;
      align-items: center;
      position: absolute;
      z-index: 1;
      flex-direction: column;
      /* height: 100%; */
      align-items: flex-end;
      top: 5.3rem;
      width: 100%;
      /* float: right; */
      right: 0px;
      background-color: #1976d2;
  }
  .welcome_logout_wrapper img {
    display: none;
  }
  .drawer_buttons {
  /* display: flex; */
  /* align-items: center; */
  /* position: absolute; */
  /* background-color: #1976d2; */
  /* width: 100%; */
  }
}
@media screen and (max-width: 384px) and (min-width: 361px) and (orientation: portrait){
  .welcome_logout_wrapper {
      display: flex;
      align-items: center;
      position: absolute;
      z-index: 1;
      flex-direction: column;
      /* height: 100%; */
      align-items: flex-end;
      top: 5.3rem;
      width: 100%;
      /* float: right; */
      right: 0px;
      background-color: #1976d2;
  }
  .welcome_logout_wrapper img {
    display: none;
  }
  .drawer_buttons {
  /* display: flex; */
  /* align-items: center; */
  /* position: absolute; */
  /* background-color: #1976d2; */
  /* width: 100%; */
  }
}

@media screen and (max-width: 412px) and (min-width: 385px) and (orientation: portrait){
  .welcome_logout_wrapper {
      display: flex;
      align-items: center;
      position: absolute;
      z-index: 1;
      flex-direction: column;
      /* height: 100%; */
      align-items: flex-end;
      top: 5.3rem;
      width: 100%;
      /* float: right; */
      right: 0px;
      background-color: #1976d2;
  }
  .welcome_logout_wrapper img {
    display: none;
  }
  .drawer_buttons {
  /* display: flex; */
  /* align-items: center; */
  /* position: absolute; */
  /* background-color: #1976d2; */
  /* width: 100%; */
  }
}
@media screen and (max-width: 600px) and (min-width: 413px) and (orientation: portrait){
  .welcome_logout_wrapper {
      display: flex;
      align-items: center;
      position: absolute;
      z-index: 1;
      flex-direction: column;
      /* height: 100%; */
      align-items: flex-end;
      top: 5.3rem;
      width: 100%;
      /* float: right; */
      right: 0px;
      background-color: #1976d2;
  }
  .welcome_logout_wrapper img {
    display: none;
  }
  .drawer_buttons {
  /* display: flex; */
  /* align-items: center; */
  /* position: absolute; */
  /* background-color: #1976d2; */
  /* width: 100%; */
  }
}

@media screen and (max-width: 800px) and (min-width:735px) and (orientation: portrait){
  .wrapperTop_midTitle {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1.5em;
  }
  .muniTitulo {

      padding-left: 1em;
  }

  .welcome_logout_wrapper img {
    width: 25%;
  }
}
